
@import url(../blocks/visually-hidden/visually-hidden.css);
@import url(../blocks/button/button.css);
@import url(../blocks/header/header.css);
@import url(../blocks/main-content/main-content.css);
@import url(../blocks/inner-content/inner-content.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/feedback/feedback.css);
@import url(../blocks/overlay/overlay.css);


/* * {
	outline: 1px dashed red;
} */

body {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-family: "Roboto", "Arial", sans-serif;
	text-transform: none;
	color: #000000;

	background-color: #ffffff;
}

a {
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}
