
@import url(filters/filters.css);
@import url(sort-filter/sort-filter.css);
@import url(templates/templates.css);
@import url(pagination/pagination.css);


.inner-content {
	width: 1160px;
	margin: 0 auto;
	padding: 0 140px;
}

.inner-content__header {
	width: 1160px;
	min-height: 240px;
	margin-left: -140px;
	margin-bottom: 55px;
	padding: 0 140px;
	
  background-color: #eeeeee;
}

.inner-content__title {
	min-height: 60px;
	margin-bottom: 0;
	padding-top: 75px;
	padding-bottom: 105px;

	font-size: 55px;
	line-height: 60px;
	font-weight: 500;
	text-align: center;
}

.inner-content__collumns {
	display: flex;
	justify-content: space-between;
}

.inner-content__collumn-left {
	width: 260px;
}

.inner-content__collumn-right {
	width: 760px;
}
