
.user-nav__list {
	max-width: 200px;
	margin-left: 45px;

	background: url(../../../img/user-nav/cart-icon.svg) no-repeat left center;
}

.user-nav__link {
	display: block;
	padding: 13px 0px;
	padding-left: 40px;
	color: #000000;
}

.user-nav__link:hover,
.user-nav__link:focus {
	color: #fb565a;
}

.user-nav__link:active {
	color: #000000;

	opacity: 0.3;
}

.user-nav__link--current {
  position: relative;
}

.user-nav__link--current::after {
  content: "";

  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 5px;

  height: 2px;

  background-color: #fb565a;
}