
.slide-info {
	width: 520px;
	height: 353px;
	padding-top: 77px;
}

.slide-info__slogan {
	display: block;
	min-height: 110px;
	margin-bottom: 25px;
	
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.slide-info__text {
	margin-bottom: 40px;

	color: #283136;
}

.slide-info__button {
	display: block;
	width: 240px;
	height: 50px;	
}
