
.feature-filter {
  margin-bottom: 40px;
}

.feature-filter__title {
  width: 100%;
  margin-bottom: 5px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.feature-filter__list {
	color: #283136;
}

.feature-filter__option {
  position: relative;

  display: flex;
}

.feature-filter__label {  
  width: 100%;
  padding: 8px 0;
  padding-left: 35px;
  
  cursor: pointer;
  user-select: none;
}

.feature-filter__checkbox:hover + .feature-filter__label,
.feature-filter__checkbox:focus + .feature-filter__label {
  color: #000000;
}

.feature-filter__checkbox:disabled + .feature-filter__label {
  color: rgba(0, 0, 0, 0.3);
}

.feature-filter__checkbox + .feature-filter__label::before {
  content: "";
  
  position: absolute;  
  top: 9px;
  left: 1px;
  
  width: 30px;
  height: 30px;
    
  background-image: url("img/checkbox-off-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-filter__checkbox:hover + .feature-filter__label::before,
.feature-filter__checkbox:focus + .feature-filter__label::before {
  background-image: url("img/checkbox-off-2.svg");
}

.feature-filter__checkbox:disabled + .feature-filter__label::before {
  background-image: url("img/checkbox-off-2.svg");
  opacity: 0.1;
}

.feature-filter__checkbox:checked + .feature-filter__label::after {
  content: "";

  position: absolute;
  top: 9px;
  left: 1px;
  
  width: 30px;
  height: 30px;

  background-color: #ffffff;
  background-image: url("img/checkbox-on-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-filter__checkbox:checked:hover + .feature-filter__label::after,
.feature-filter__checkbox:checked:focus + .feature-filter__label::after {
  background-image: url("img/checkbox-on-2.svg");
}
