
.grid-filter {
  margin-bottom: 35px;
}

.grid-filter__title {
  width: 100%;
  margin-bottom: 5px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.grid-filter__list {
	color: #283136;
}

.grid-filter__option {
  position: relative;

  display: flex;
}

.grid-filter__label {  
  width: 100%;
  padding: 8px 0;
  padding-left: 35px;
  
  cursor: pointer;
  user-select: none;
}

.grid-filter__radio:hover + .grid-filter__label,
.grid-filter__radio:focus + .grid-filter__label {
  color: #000000;
}

.grid-filter__radio:disabled + .grid-filter__label {
  color: rgba(0, 0, 0, 0.3);
}

.grid-filter__radio + .grid-filter__label::before {
  content: "";
  
  position: absolute;  
  left: 1px;
  
  width: 16px;
  height: 16px;
    
  border: 4px solid #b8b8b8;
  border-radius: 50%;
}

.grid-filter__radio:hover + .grid-filter__label::before,
.grid-filter__radio:focus + .grid-filter__label::before {
  border-color: #4d4d4d;
}

.grid-filter__radio:disabled + .grid-filter__label::before {
  border-color: #ededed;
}

.grid-filter__radio:checked + .grid-filter__label::after {
  content: "";

  position: absolute;
  top: 16px;
  left: 9px;
  
  width: 8px;
  height: 8px;

  background-color: #b8b8b8;
  border-radius: 50%;
}

.grid-filter__radio:checked:hover + .grid-filter__label::after,
.grid-filter__radio:checked:focus + .grid-filter__label::after {
  background-color: #4d4d4d;
}
