
@import url(price-filter/price-filter.css);
@import url(grid-filter/grid-filter.css);
@import url(feature-filter/feature-filter.css);


.filters__button {
	display: block;
	width: 260px;
	height: 50px;

	cursor: pointer;
}
