
.advantages {
	padding-top: 39px;
	padding-bottom: 49px;
	
	border-bottom: 2px solid #eeeeee;
}

.advantages__start-line {
	height: 125px;
	margin-top: -125px;
	visibility: hidden;
}

.advantages__columns {
	display: flex;
	justify-content: space-between;
}

.advantages__column-left {
	width: 660px;
	padding-top: 35px;
}

.advantages__slogan {
	display: block;
	min-height: 90px;
	margin-bottom: 33px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.advantages__slogan-text {
	margin-bottom: 38px;

	color: #283136;
}

.advantages__order-title {
	display: block;
	margin-bottom: 24px;

	font-weight: 700;
	text-transform: uppercase;
}

.advantages__order-list {
	display: flex;
	flex-direction: column;
}

.advantages__order-item {
	position: relative;

	margin-bottom: 24px;
	padding-left: 35px;

	color: #283136;
}

.advantages__order-item::before {
	content: "";

	position: absolute;
	top: 11.5px;
	left: 0px;

	width: 25px;
	height: 2px;

	background-color: #fb565a;
}

.advantages__column-right {
	width: 360px;
}

.advantages__logo {
	margin-bottom: 30px;
}

.advantages__quality-title {
	display: block;
	margin-bottom: 40px;
	padding-left: 16px;

	font-weight: 700;
	text-transform: uppercase;
}

.advantages__quality-list {
	display: flex;
}

.advantages__quality-item {
	margin-right: 23px;
	min-width: 96px;
}

.advantages__quality-term {
	margin-bottom: 18px;

	font-weight: 700;	
}

.advantages__quality-term span {
	display: block;

	font-size: 45px;
	line-height: 46px;
}

.advantages__quality-term sup {
	font-size: 27px;
}

.advantages__quality-description {	
	line-height: 18px;
	color: #283136;
}
