
.site-nav__list {
  display: flex;
  justify-content: center;
	flex-wrap: wrap;
}

.site-nav__link {
	display: block;
	padding: 13px 10px;
  margin-left: 13px;
  margin-right: 13px;

  color: #000000;
}

.site-nav__link:hover,
.site-nav__link:focus {
	color: #fb565a;
}

.site-nav__link:active {
	color: #000000;

	opacity: 0.3;
}

.site-nav__link--current {
  position: relative;
  
	cursor: default;
}

.site-nav__link--current:hover,
.site-nav__link--current:focus {
  color: #000000;
}

.site-nav__link--current:active {
	opacity: 1;
}

.site-nav__link--sticky-current {
  position: relative;
}

.site-nav__link--current::after,
.site-nav__link--sticky-current::after {
  content: "";

  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 5px;

  height: 2px;

  background-color: #fb565a;
}
