
.template {
	position: relative;

	height: 616px;
	margin-bottom: 33px;
}

.template__view {
	height: 576px;
	padding-top: 40px;

	background: url(img/browser.svg) no-repeat;
	background-position: 0 0;
}

.template__info {
	position: absolute;
	bottom: 0;
	z-index: 10;
	
	display: none;
	width: 240px;
	height: 180px;
	padding: 25px 60px;

	text-align: center;
	background-color: #eeeeee;
}

.template__info--show {
	display: block;

	opacity: 1;

	animation-name: appearing;
	animation-duration: 0.4s;
	animation-timing-function: linear;
}

@keyframes appearing {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

.template:not(:hover) .template__info:not(:hover) {
	animation-name: disappearing;
	animation-duration: 0.45s;
	animation-timing-function: linear;
}

@keyframes disappearing {
	0%   {opacity: 1;}
	100% {opacity: 0;}
}

.template__info-title {
	display: block;
	margin-bottom: 15px;

	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.template__info-text {
	margin-bottom: 30px;

	line-height: 18px;
	color: #666666;
}

.template__button {
	display: block;
	width: 200px;
	height: 50px;
	margin: 0 auto;

	background-color: #fb565a;
}

.template__button:hover,
.template__button:focus {
	background-color: #e74246;
}

.template__button:active {
	background-color: #d7373b;
}

.template__price {
	display: block;
}

.template__price:hover {
	animation-name: price-disappearing;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}

@keyframes price-disappearing {
	0%   {opacity: 1;}
	100% {font-size: 15px; text-shadow: 0 0 15px #ffffff; opacity: 0;}
}

.template__look {
	display: block;
}

.template__look:not(:hover) {
	animation-name: look-disappearing;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}

@keyframes look-disappearing {
	0%   {opacity: 1;}
	100% {font-size: 15px; text-shadow: 0 0 15px #ffffff; opacity: 0;}
}
